<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tip calc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC41B9AE1F4413310050C91D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC41B9C21F4413310050C91D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC41B9CD1F4413310050C91D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
